<style>
	.nopadding {
	   padding: 0 !important;
	   margin: 0 !important;
	}
	.main_grid{
		margin-top: 10px;
		text-align: center;
	}
	.mid_grid{
		text-align: center;
	}
	.sub_grid{
		width: 100%;
		background-color: gray;
	}
	.pic{
		/*margin-top: 2em;*/
		/*height: 165px;*/
		width: 100%;

		filter: grayscale(100%);
	    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
	    filter: gray;  /* For IE 6 - 9 */
	    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	}

	.pic:hover { 
	    filter: grayscale(0%);
	    -webkit-filter: grayscale(0%);
	    filter: none;
	}

</style>
<div class="main_grid">
	<div class="row mid_grid">
		<div class="col-md-3"></div>
		<div class="col-xs-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar1/1.jpg" class="pic" ng-click="showSlide('zagvar1')">
				</div>
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar1/2.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding">
					<img src="NZ_photos/zagvar1/3.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar2/5.jpg" class="pic" ng-click="showSlide('zagvar2')">
				</div>
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar2/2.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding">
					<img src="NZ_photos/zagvar2/3.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar2/4.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding" class="sub_grid">
					<img src="NZ_photos/zagvar1/4.jpg" class="pic">
				</div>
				<div class="col-xs-6 col-md-4 nopadding">
					<img src="NZ_photos/zagvar1/5.jpg" class="pic">
				</div>	
			</div>
		</div>
	</div>
</div>
