<style>
	.main_grid{
		margin-top: 7px;
		background-color: gray;
		width: 500px;
		height: 500px;
	}
	.sub_grid{
		height: 100%;
	}
	.pic{
		height: 168px;
	}
</style>
<div align="center">
	<div class="main_grid">
		<div class="row" height="168px">
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_1.jpg" class="pic">
			</div>
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_2.jpg" class="pic">
			</div>
			<div class="col-md-4">
				<img src="img/clothes/d_3.jpg" class="pic">
			</div>
		</div>
		<div class="row" height="168px">
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_1.jpg" class="pic">
			</div>
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_2.jpg" class="pic">
			</div>
			<div class="col-md-4">
				<img src="img/clothes/d_3.jpg" class="pic">
			</div>
		</div>
		<div class="row" height="168px">
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_1.jpg" class="pic">
			</div>
			<div class="col-md-4" class="sub_grid">
				<img src="img/clothes/d_2.jpg" class="pic">
			</div>
			<div class="col-md-4">
				<img src="img/clothes/d_3.jpg" class="pic">
			</div>
		</div>
	</div>
</div>
